<!DOCTYPE html>
<html lang="en">
  <head>
    <title>INVOICE</title>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="AngularJS and Angular Code Example for creating Invoices and Invoicing Application"
    />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"
    ></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/7b2373ca02.js"></script>
  </head>

  <body ng-app="invoicing" ng-controller="InvoiceCtrl" class="extra_small">
    <div class="container" width="800px" id="invoice">
<!--      <div class="invoice-number-container">-->
<!--        <label for="invoice-number">Invoice #</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          id="invoice-number"-->
<!--          ng-model="invoice.invoice_number"-->
<!--        />-->
<!--      </div>-->
      <div class="row">
        <div class="col-sm-4 extra_small">
          <label>GSTIN: 06ABLFM2929A1ZH</label>
        </div>
        <div class="col-sm-4 text-center extra_small">
          <div><label>TAX INVOICE</label></div>
          <div><label>Under Section 31 of CGST Act 2017</label></div>
        </div>
        <div class="col-sm-4 extra_small">
          <div class="text-right"><i class="fa fa-whatsapp"></i>8901511889</div>
          <div class="text-right"><i class="fa fa-whatsapp"></i>8168227895</div>
        </div>
      </div>
      <div class="row extra_small">
          <div class="col-xs-3 logo-container">
            <div><b>TRADE MARK</b></div>
            <div>
              <img
                ng-hide="logoRemoved"
                id="company_logo"
                ng-src="{{ logo }}"
                alt="your image"
                width="80"
              />
            </div>
            <div><i><b>The Name of Quality</b></i></div>
          </div>
          <div class="company_info col-xs-6">
            <div class="text-center heading_primary"><b>VICTOR POLYTUBES</b></div>
            <div class="text-center"><b>(An ISO 9001:2000 company)</b></div>
            <div class="text-center"><b><i>(Manufacturer of Rigid uPVC Pipes)</i></b></div>
            <div class="text-center extra_small">Regd. office: Delhi Bypass, Satrod Khas to Raipur Road, VPO Satrod Khas, Hisar, Haryana, India, 125044</div>
            <div class="text-center extra_small">Email: victorpolytubeshsr@gmail.com</div>
          </div>
          <div class="col-sm-3">
            <br>
            <img
              ng-hide="logoRemoved"
              ng-src="{{ pipes_logo }}"
              alt="your image"
              width="150"
              height="100"
            />

          </div>
      </div>
      <br>
      <div class="row infos">
        <div class="form-group col-xs-6 extra_small">
          <table>
            <tr>
              <td colspan="2" class="col-xs-2">
                <label>Receipient:</label>
              </td>
              <td colspan="2" class="col-xs-4">
                <input type="text" ng-model="invoice.customer_info.name" />
              </td>
            </tr>
            <tr>
              <td colspan="2" class="col-xs-2">
                <label>Address 1:</label>
              </td>
              <td class="col-xs-2">
                <input type="text" ng-model="invoice.customer_info.address1" />
              </td>
            </tr>
            <tr>
              <td colspan="2" class="col-xs-2">
                <label>Address 2:</label>
              </td>
              <td class="col-xs-2">
                <input type="text" ng-model="invoice.customer_info.address2" />
              </td>
            </tr>
            <tr>
              <td colspan="2" class="col-xs-2">
                <label>Contact:</label>
              </td>
              <td class="col-xs-2">
                <input type="text" ng-model="invoice.customer_info.postal" />
              </td>
            </tr>
            <tr>
              <td colspan="2" class="col-xs-2">
                <label>GST No.:</label>
              </td>
              <td class="col-xs-2">
                <input
                  type="text"
                  ng-model="invoice.customer_info.gst_number"
                />
              </td>
            </tr>
            <tr>
              <td colspan="2" class="col-xs-2">
                <label>Place:</label>
              </td>
              <td colspan="2" class="col-xs-4">
                <input type="text" />
              </td>
            </tr>
          </table>

          <!-- <div class="input-container" data-ng-hide='printMode'>
        <select ng-model='currencySymbol'
          ng-options='currency.symbol as currency.name for currency in availableCurrencies'></select>
      </div> -->
        </div>
        <div class="form-group col-xs-6 extra_small">
          <table>
            <tr>
              <td colspan="2" class="col-xs-2">
                <label>Date:</label>
              </td>
              <td colspan="2" class="col-xs-4">
                <input type="text" ng-model="invoice.current_time | date:'medium'"/>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="col-xs-2">
                <label>Invoice No.:</label>
              </td>
              <td colspan="2" class="col-xs-4">
                <input type="text" />
              </td>
            </tr>
            <tr>
              <td colspan="2" class="col-xs-2">
                <label>Vehicle No.:</label>
              </td>
              <td class="col-xs-2">
                <input type="text" />
              </td>
            </tr>
            <tr>
              <td colspan="2" class="col-xs-2">
                <label>GR No.:</label>
              </td>
              <td class="col-xs-2">
                <input type="text" />
              </td>
            </tr>
            <tr>
              <td colspan="2" class="col-xs-2">
                <label>Transporter:</label>
              </td>
              <td class="col-xs-2">
                <input type="text" />
              </td>
            </tr>
            <tr>
              <td colspan="2" class="col-xs-2">
                <label>E-Way Bill:</label>
              </td>
              <td class="col-xs-2">
                <input
                  type="text" />
              </td>
            </tr>
          </table>

          <!-- <div class="input-container" data-ng-hide='printMode'>
        <select ng-model='currencySymbol'
          ng-options='currency.symbol as currency.name for currency in availableCurrencies'></select>
      </div> -->
        </div>
      </div>
      <div class="items-table">
        <div class="row header">
          <div class="col-xs-1">&nbsp;</div>
          <div class="col-xs-1">#</div>
          <div class="col-xs-4">Description</div>
          <div class="col-xs-2">Quantity(KG)</div>
          <div class="col-xs-2">Cost {{currencySymbol}}</div>
          <div class="col-xs-2 text-right">Total</div>
        </div>
        <div
          class="row invoice-item"
          ng-repeat="item in invoice.items"
          ng-animate="'slide-down'"
        >
          <div class="col-xs-1 remove-item-container">
            <a
              href
              ng-hide="printMode"
              ng-click="removeItem(item)"
              class="btn btn-danger"
              ><i class="fa fa-trash-o"></i
            ></a>
          </div>
          <div class="col-xs-1 remove-item-container">
            {{$index+1}}
          </div>
          <div class="col-xs-4 input-container">
            <input ng-model="item.description" placeholder="Description" />
          </div>
          <div class="col-xs-2 input-container">
            <input
              ng-model="item.qty"
              value="1"
              size="4"
              ng-required
              ng-validate="integer"
              placeholder="Quantity"
            />
          </div>
          <div class="col-xs-2 input-container">
            <input
              ng-model="item.cost"
              value="0.00"
              ng-required
              ng-validate="number"
              size="6"
              placeholder="Cost"
            />
          </div>
          <div class="col-xs-2 text-right input-container">
            {{item.cost * item.qty | currency: currencySymbol}}
          </div>
        </div>
        <div class="row invoice-item">
          <div class="col-xs-12 add-item-container" ng-hide="printMode">
            <a class="btn btn-primary" href ng-click="addItem()"
              ><i class="fa fa-plus"></i
            ></a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 text-right">Sub Total</div>
          <div class="col-xs-2 text-right">
            {{invoiceSubTotal() | currency: currencySymbol}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 text-right">
            CGST(%):
            <input
              ng-model="invoice.cgst"
              ng-validate="number"
              style="width:43px"
            />
          </div>
          <div class="col-xs-2 text-right">
            {{calculateCGST() | currency: currencySymbol}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 text-right">
            SGST(%):
            <input
              ng-model="invoice.sgst"
              ng-validate="number"
              style="width:43px"
            />
          </div>
          <div class="col-xs-2 text-right">
            {{calculateSGST() | currency: currencySymbol}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 text-right">
            GST-Integrated(%):
            <input
              ng-model="invoice.gst_integrated"
              ng-validate="number"
              style="width:43px"
            />
          </div>
          <div class="col-xs-2 text-right">
            {{calculateIGST() | currency: currencySymbol}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 text-right">Grand Total:</div>
          <div class="col-xs-2 text-right">
            {{calculateGrandTotal() | currency: currencySymbol}}
          </div>
        </div>
      </div>
      <div class="row extra_small">
        <hr>
        <div>Bank Details: Axis Bank Limited Hissar | IFSC Code: UTIB0002030</div>
        <div>Name: Victor Polytubes | Account No.: 919020036818106</div>
        <hr>
      </div>
      <div class="row extra_small">
        <div><u>Remarks if any:</u></div>
        <hr>
      </div>
      <div>
        <div class="terms_condition col-xs-4">
          <p>Terms and Conditions:</p>
          <ol>
            <li>
              No responsibility of PVC Pipes and Fittings for Breakage, Leakage
              or Collapsing of Borewell / Tubewell etc.
            </li>
            <li>Goods once sold will not be taken back.</li>
            <li>
              Interest @18% will be charged after due date of the payment.
            </li>
            <li>All disputes are subject to Hisar jurisdiction only.</li>
            <li>E. & O. E.</li>
          </ol>
        </div>
        <div class="declaration col-xs-3">
          <p>Declaration:</p>
          Certified that particulars given above are true and correct and the
          amount indicated represents the price actually charged and that there
          is no flow of consideration directly or indirectly from the Recepient.
        </div>
        <div class="signature col-xs-4">
          <div>For <b>Victor Polytubes</b></div>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <p>
            <b><u>Authorized Signature</u></b>
          </p>
        </div>
      </div>
    </div>
    </div>
    <hr>
    <div class="container">
      <div class="row noPrint actions">
        <a
          href="#"
          class="btn btn-primary"
          ng-show="printMode"
          ng-click="printInfo()"
          >Print</a
        >
        <a href="#" class="btn btn-primary" ng-click="clearLocalStorage()"
          >Reset</a
        >
        <a
          href="#"
          class="btn btn-primary"
          ng-hide="printMode"
          ng-click="printMode = true;"
          >Turn On Print Mode</a
        >
        <a
          href="#"
          class="btn btn-primary"
          ng-show="printMode"
          ng-click="printMode = false;"
          >Turn Off Print Mode</a
        >
      </div>
    </div>

    <div ng-hide="printMode" class="copy noPrint">
      Made with
      <span class="love">&#9829;</span> in Hisar by
      <a href="https://govindbhardwaj.github.io">Govind Bhardwaj</a>
    </div>
  </body>
</html>
